html,body {margin:0; padding:0; height:100%; width:100%}
body {font-family:sans-serif; font-size:180%;}
input {font-size:130%; margin:.5em }
.hrow:hover {background:#88cca5; cursor:pointer}
#rfidtable td {padding:6px 12px; color:#333}
.corners {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
