<html>
<head>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src='/_ah/channel/jsapi'></script>
	<link rel="stylesheet" type="text/css" href="/static/kiosk.css" />
  <meta http-equiv="refresh" content="7200">
	<title>Realtime log</title>
</head>
<body>
<style>
table {border-top:1px solid #ccc; border-left:1px solid #ccc}
table td {border-right:1px solid #ccc; border-bottom:1px solid #ccc}
</style></body>

<script>
      window.closeAlert = function() {};



function notify(t,i) {
  if (!window.webkitNotifications) {
    alert("Desktop notifications not supported on this browser.");
    return;
  }
  var havePermission = window.webkitNotifications.checkPermission();
  if (havePermission == 0) {
    $("#enable").hide();
    var notification = window.webkitNotifications.createNotification(
      i,
      'Sign-in',
      t
    );
    notification.onclick = function () {
      this.cancel();
    }
    notification.show();
  } else {
      window.webkitNotifications.requestPermission();
  }
}  

var notify_m = function(t,i) {
    if(!window.Notification) {
        return;
    }
    console.log(Notification.permission);
    // if the user has not been asked to grant or deny notifications from this domain
    if(Notification.permission === 'default') {
        Notification.requestPermission(function() {
            // callback this function once a permission level has been set
            notify();
        });
    }
    // if the user has granted permission for this domain to send notifications
    else if(Notification.permission === 'granted') {
        var n = new Notification(
                    'Sign-in',
                    {
                      'body': t,
                      'icon': i,
                      // prevent duplicate notifications
                      'tag' : 'signin'
                    }
                );
        // remove the notification from Notification Center when it is clicked
        n.onclick = function() {
            this.close();
        };
        // callback function when the notification is closed
        n.onclose = function() {
            console.log('Notification closed');
        };
    }
    // if the user does not want notifications to come from this domain
    else if(Notification.permission === 'denied') {
        // be silent
        return;
    }
};

onOpen = function()  {
  $("#loading").hide();
  $("table").show();
}

onError = function(m)  {
  window.location.href = window.location.href;
}

sendnote = function(t,i) {
    if (window.webkitNotifications) { 
      notify(t,i);
    } else {
      notify_m(t,i);
    }
    $("#enable").hide();
};


onMessage = function(m) {
   s = JSON.parse(m.data);

   var icon = "http://i.imgur.com/loKpWOg.png";
   if (s.count==1) icon = "http://i.imgur.com/uQdPsaI.png";
   if (s.count>15) icon = "http://i.imgur.com/eYAnC.jpg";
   if (s.email.indexOf("@hackerdojo.com")>0) icon = "http://i.imgur.com/AM7rGV1.png";
   sendnote(s.count+": "+s.email,icon);

   $(".template .email").html(s.email);
   $(".template .first").html(s.first);
   $(".template .count").html(s.count);
   $(".template").clone().show().removeClass("template").insertAfter("#head");
}

channel = new goog.appengine.Channel('{{ token }}');
socket = channel.open();
socket.onmessage = onMessage;
socket.onopen = onOpen;
socket.onerror = onError;

</script>

<center>

  <span id="loading" style="padding:5px; background:yellow">Connecting…</span>

  <br/>
  
  <input id="enable" type="submit" value="Enable Notifications" onclick="sendnote('Notifications Enabled','http://i.imgur.com/AM7rGV1.png');" style="margin-top:1em">
  
  <table style="display:none; width:60%; margin-top:1em" >
  <tr id="head">
  <td>E-mail</td>
  <td>Count</td>
  <td>First</td>
  </tr>
  <tr class="template" style="display:none">
  <td class="email">e</td>
  <td class="count">c</td>
  <td class="first">f</td>
  </tr>
  </table>
  
</center>

</body>
</html>