<html>
<head>
	<link rel="stylesheet" type="text/css" href="http://dustball.com/dojo/kiosk.css" />
	<script type="text/javascript"> 
	function signout(t) {
	  var name = t.getElementsByClassName("name")[0].innerHTML;
	  var email = t.getElementsByClassName("email")[0].innerHTML;
	  if (confirm("Are you sure you want to sign out "+name+"?")) {
	    var f = document.getElementById("actionform");
	    f.elements['action'].value = "signout";
	    f.elements['email'].value = email;
	    f.submit();   
	  }
	}
	</script>
</head>
<body>
<form method="POST" style="display:none" id="actionform">
  <input type="hidden" name="action" value="">
  <input type="hidden" name="email" value="">
  </form>

{% for staffer in staff %}  
<div class="staffline" onclick="signout(this);">
  <div class="picbox">
    <img class="pic" src="{{ staffer.image_url }}" /> 
  </div>
  <div class="name">{{ staffer.name_or_nick }}</div>
  <div class="email">{{ staffer.email }}</div>
  <div class="ago">{{ staffer.created|timesince }} ago</div>
</div>

{% endfor %}
</body>
</html>