<html>
<head>
  <title>Signin stats</title>
	<link rel="stylesheet" type="text/css" href="/static/kiosk.css" />
</head>
<body style="margin:1em">

<h1>Stats</h1>

<ul>
<li><a href="/stats/daily">Daily</a></li>
<li><a href="/stats/weekly">Weekly</a></li>
<li><a href="/stats/monthly">Monthly</a></li>
</ul>

<p>Note: reports can take ~30 seconds to generate, please be patient.</p>

<p style="font-size:11px">Disclaimer: It is possible that these stats may break in the future if the database grows too large to be processed without an App Engine background task.  Refactoring will need to happen at some point.</p>

</body>
</html>